
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />

<div>
    <p>
        WELCOME TO 'ANKN MORPORK'!!!!<br />
        Here you can find lots of interesting people and a lot of dangerous.....<br />
        You should earn enough money in order to buy a ticket from this city<br />
        But until you, my friend, did't do it, be careful, good luck to you!!!<br />
    </p>
</div>

<div>
    <p>
        During the game you will meet members of different
        guildsEach of them has its own rules and rewards for their services<br /><br />
        Initially, your money account is 100 Ankh-Morpork dollars
        You should have 200 Ankh-Morpork dollars in order to leave this city
    </p>
 </div>

<div>
    <p>You can meet :</p>
    <br />
    <p>
        <h3>-Assasins' guild</h3> <br />
        Is a school for professional killers,this guild takes payment in the range of 5 to 30
        but each assasin has their own payment range

        <img src="~/Images/AssasinsGuild.jpg" height="500" width="500"/>
    </p>
    <br />
    <p>
        <h3>-Beggars' Guild</h3> <br />
        Is the oldest, largest and (perhaps surprisingly) richest of the city's many guilds.
        It has a very strict code of practice and enforced hierarchy each beggar has its own payment

        <img src="~/Images/BeggarsGuild.jpg" height="500" width="500"/>
    </p>
    <br />
    <p>
        <h3>-Guild of Thieves</h3> <br />
        Being completely legal Guild of Thieves is responsible for ensuring a socially acceptable number of thefts.
        Player can get robbed anytime and will have to pay a standard fee in amount 10 AM$ to the guild member.
        But total number of thefts during the game can’t be greater then socially acceptable number of thefts.

        <img src="~/Images/ThiefsGuild.jpg" height="500" width="500"/>
    </p>
    <br />
    <p>
        <h3>-Clown guild</h3> <br />
        Walking the city you may meet one of a very good friends,
        they won't kill you and give you a chance to earn some money

        <img src="~/Images/ClownsGuild.jpg" height="500" width="500"/>
    </p>
</div>
<br />
<br />
<p>
    In order to start the game click the button below<br />
    @Html.ActionLink("Start", "Index", "Game", null, new { @class = "btn btn-primary" })
</p>


